/* frontend/src/components/HuertoVirtual/components/WeatherFX.css */

.rain-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rain-drop {
    position: absolute;
    top: -20px;
    width: 2px;
    height: 15px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    animation: fall linear infinite;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}

@keyframes fall {
    0% {
        transform: translateY(-20px) translateX(0px);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(105vh) translateX(10px); /* Caen un poco en diagonal */
        opacity: 0;
    }
}